html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  text-align: center;
}

.main-part {
  height: 100vh;
}

.hello-text {
  padding: 20vh 0 2vh 0;
}

.hello-text h1 {
  font-size: 4rem;
}

.hello-text-alt {
  padding: 20vh 0 2vh 0;
}

.hello-text-alt h1 {
  font-size: 3rem;
}

.input-status {
  margin: 3vh 0 2vh 0;
}

input {
  max-width: 70vw;
  min-height: 7vh;
  margin: auto;
}

.submit-status{
  margin: 10vh 0 2vh 0;
}

.form-buttons {
  margin: auto;
  min-width: 300px;
  min-height: 5.5vh;
}

.form-buttons button {
  margin-left: 3vw;
  margin-right: 3vw;
  min-height: 5.5vh;
}

.card {
  max-width: 500px;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.card-margin {
  margin-left: 3vw;
  margin-right: 3vw;
}

.card-header {
  color: gray;
}

.card-body {
  color: black;
}

.second-part {
  min-height: 100vh;
}

.second-part h2 {
  padding: 5vh 0 0 0;
}
