<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Story 7</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "story/css/styles.css" %}"
  </head>
  <body>
    <div class="main-part">
      <div class="container">
        <div class="row hello-text">
          <div class="col-12">
            <h1>Hello, how are you?</h1>
          </div>
        </div>
        <form method="POST">
          {% csrf_token %}
          <div class="row input-status">
            <div class="col-2"></div>
            <div class="col-8">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control text-center" id="name" name="name" maxlength="125" placeholder="Who are you?">
            </div>
            <div class="col-2"></div>
          </div>
          <div class="row input-status">
            <div class="col-2"></div>
            <div class="col-8">
              <label for="status" class="form-label">Status</label>
              <input type="text" class="form-control text-center" id="status" name="status" maxlength="280" placeholder="What's on your mind?">
            </div>
            <div class="col-2"></div>
          </div>
          <div class="row submit-status">
            <div class="form-buttons">
              <button type="submit" class="btn btn-primary submit-btn">Submit</button>
              <button class="btn btn-success" onclick="window.location.href = '#messages';">See status</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="second-part text-center" id="messages">
      <h2>Status</h2>
      <button type="button" class="btn btn-info change-color" onclick="changeColor()">Change Color</button>
      {% if not status %}
      <br />
      <h5 id="sorry-msg">Sorry, no status has been made :(</h5>
      {% else %}
      <div class="container">
        {% for stat in status %}
        {% if forloop.first %}<div class="row">{% endif %}
        <div class="col-4">
          <div class="card">
            <div class="card-header">
              {{ stat.name }}
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>{{ stat.status }}</p>
              </blockquote>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <script>
    	function changeColor() {
    	  var cardHeader = document.getElementsByClassName("card-header");
    	  var cardBody = document.getElementsByClassName("card-body");
    	  var i;
    	  for (i = 0; i < cardHeader.length; i++) {
    		cardHeader[i].style.color = "red";
    	  }
    	  for (i = 0; i < cardBody.length; i++) {
    		cardBody[i].style.color = "blue";
    	  }
    	}
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
