<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Story 7 | Confirmation</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "story/css/styles.css" %}"
  </head>
  <body>
    <div class="main-part">
      <div class="container">
        <div class="row hello-text-alt">
          <div class="col-12">
            <h1>Do you want to confirm this status?</h1>
          </div>
        </div>
        <form method="POST" action="{% url 'confirm' %}">
          {% csrf_token %}
          <div class="row input-status">
            <div class="col-2"></div>
            <div class="col-8">
              <label for="name" class="form-label">Name</label>
              <input type="text" readonly class="form-control text-center" id="name" name="name" maxlength="125" value="{{ name }}">
            </div>
            <div class="col-2"></div>
          </div>
          <div class="row input-status">
            <div class="col-2"></div>
            <div class="col-8">
              <label for="status" class="form-label">Status</label>
              <input type="text" readonly class="form-control text-center" id="status" name="status" maxlength="280" value="{{ status }}">
            </div>
            <div class="col-2"></div>
          </div>
          <div class="row submit-status">
            <div class="form-buttons">
              <button type="submit" class="btn btn-primary confirm-btn">Confirm</button>
              <a class="btn btn-danger revert-btn" href="{% url 'index' %}" role="button">Revert</a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
